In [1]:
import tensorflow as tf
from keras.preprocessing.image import ImageDataGenerator
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset= pd.read_csv('coughdf3000.csv')

In [3]:
dataset

      Unnamed: 0  ... expert_labels_1
0              0  ...             NaN
1              1  ...             NaN
2              2  ...             NaN
3              3  ...             NaN
4              4  ...             NaN
...          ...  ...             ...
2996        2996  ...             NaN
2997        2997  ...             NaN
2998        2998  ...             NaN
2999        2999  ...             NaN
3000        3000  ...             NaN

[3001 rows x 13 columns]

In [4]:
updt=dataset.drop('expert_labels_3', inplace=True, axis=1)
updt=dataset.drop('expert_labels_2', inplace=True, axis=1)
updt=dataset.drop('expert_labels_1', inplace=True, axis=1)
updt=dataset.drop('datetime', inplace=True, axis=1)
updt=dataset.dropna(subset=['status'])
updt=dataset.dropna(subset=['gender','respiratory_condition','fever_muscle_pain'],how='all')
updt=updt.replace(to_replace =["other"], 
                            value ="female")

In [5]:
updt

      Unnamed: 0  cough_detected  ...  fever_muscle_pain       status
0              0          0.9609  ...              False      healthy
1              1          0.9609  ...              False      healthy
2              2          0.9301  ...              False      healthy
4              4          0.9968  ...              False      healthy
6              6          0.0306  ...               True     COVID-19
...          ...             ...  ...                ...          ...
2990        2990          0.6112  ...              False  symptomatic
2991        2991          0.8751  ...              False      healthy
2993        2993          0.5233  ...              False     COVID-19
2994        2994          0.1537  ...              False      healthy
2997        2997          0.7657  ...              False      healthy

[1716 rows x 9 columns]

In [6]:
from sklearn import preprocessing
levelencoder= preprocessing.LabelEncoder()
updt['fever_muscle_pain']= levelencoder.fit_transform(updt['fever_muscle_pain'])
updt['gender']= levelencoder.fit_transform(updt['gender'])
updt['respiratory_condition']= levelencoder.fit_transform(updt['respiratory_condition'])
updt['status']= levelencoder.fit_transform(updt['status'])

In [7]:
updt

      Unnamed: 0  cough_detected  ...  fever_muscle_pain  status
0              0          0.9609  ...                  0       1
1              1          0.9609  ...                  0       1
2              2          0.9301  ...                  0       1
4              4          0.9968  ...                  0       1
6              6          0.0306  ...                  1       0
...          ...             ...  ...                ...     ...
2990        2990          0.6112  ...                  0       2
2991        2991          0.8751  ...                  0       1
2993        2993          0.5233  ...                  0       0
2994        2994          0.1537  ...                  0       1
2997        2997          0.7657  ...                  0       1

[1716 rows x 9 columns]

In [8]:
#X = updt.iloc[:, 1:-1].values
#y = updt.iloc[:, -1].values

In [9]:
#from sklearn.impute import SimpleImputer
#imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer.fit(X[:, 1:4])
#X[:, 1:4] = imputer.transform(X[:, 1:4])
#print(X)

In [10]:
#cnn = tf.keras.models.Sequential()

In [11]:
#cnn.add(tf.keras.layers.Conv2D(filters=32, kernel_size=2, activation='relu', input_shape=(# 7,1)))

In [12]:
#cnn.add(tf.keras.layers.MaxPool2D(pool_size=2, strides=2))

In [13]:
#cnn.add(tf.keras.layers.Flatten())

In [14]:
#cnn.add(tf.keras.layers.Dense(units=128, activation='relu'))

In [15]:
#cnn.add(tf.keras.layers.Dense(units=2, activation='softmax'))

training CNN

In [16]:
#cnn.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [17]:
#cnn.fit(X_train, y_train, batch_size=128, epochs=10, validation_data=(X_test, y_test), verbose=0)
#cnn.fit(X_train, y_train, batch_size=128, epochs=10,validation_split=1/12,verbose=1)
#score = cnn.evaluate(X_test, y_test,metrics=['acc'], verbose=0)

In [18]:
#cnn = tf.keras.models.Sequential()

In [19]:
#cnn.add(tf.keras.layers.Conv2D(filters=32, kernel_size=1, activation='relu', input_shape=(1372,7,1)))

In [20]:
#cnn.summary()

In [21]:
#cnn.add(tf.keras.layers.Flatten())

In [22]:
#cnn.add(tf.keras.layers.Dense(units=1372, activation='relu'))

In [23]:
#cnn.summary()

In [24]:
#cnn.add(tf.keras.layers.Dense(units=128, activation='relu'))

In [25]:
#cnn.add(tf.keras.layers.Dense(units=2, activation='softmax'))

In [26]:
m = updt.iloc[:, 1:].values

In [27]:
m

array([[  0.9609,  31.3   ,  34.8   , ...,   0.    ,   0.    ,   1.    ],
       [  0.9609,  31.3   ,  34.8   , ...,   0.    ,   0.    ,   1.    ],
       [  0.9301,  40.    , -75.1   , ...,   1.    ,   0.    ,   1.    ],
       ...,
       [  0.5233, -23.6   , -70.4   , ...,   1.    ,   0.    ,   0.    ],
       [  0.1537,  43.7   , -79.4   , ...,   0.    ,   0.    ,   1.    ],
       [  0.7657,      nan,      nan, ...,   0.    ,   0.    ,   1.    ]])

In [28]:
m.shape

(1716, 8)

In [29]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(m[:, 1:4])
m[:, 1:4] = imputer.transform(m[:, 1:4])

In [30]:
def split_sequences(sequences, n_steps):
	a, b = list(), list()
	for i in range(len(sequences)):
		# find the end of this pattern
		end_ix = i + n_steps
    
		# check if we are beyond the dataset
		if end_ix > len(sequences):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
		a.append(seq_x)
		b.append(seq_y)
	return array(a), array(b)

In [31]:
from numpy import array
a, b = split_sequences(m, 8)

In [32]:
a

array([[[ 9.60900000e-01,  3.13000000e+01,  3.48000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.60900000e-01,  3.13000000e+01,  3.48000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.30100000e-01,  4.00000000e+01, -7.51000000e+01, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        ...,
        [ 8.93700000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.88300000e-01,  3.94000000e+01,  6.72000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.45600000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00]],

       [[ 9.60900000e-01,  3.13000000e+01,  3.48000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.30100000e-01,  4.00000000e+01, -7.51000000e+01, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 9.96800000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 9.88300000e-01,  3.94000000e+01,  6.72000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.45600000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 9.95900000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00]],

       [[ 9.30100000e-01,  4.00000000e+01, -7.51000000e+01, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 9.96800000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 3.06000000e-02,  1.38000000e+01, -8.96000000e+01, ...,
          0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
        ...,
        [ 9.45600000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 9.95900000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 5.76000000e-02,  4.68000000e+01,  6.60000000e+00, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00]],

       ...,

       [[ 9.75300000e-01,  3.99000000e+01,  3.28000000e+01, ...,
          1.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 9.67100000e-01,  3.57000000e+01,  1.39800000e+02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.67600000e-01,  4.10000000e+01,  2.91000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 6.11200000e-01, -3.45000000e+01, -5.87000000e+01, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 8.75100000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 5.23300000e-01, -2.36000000e+01, -7.04000000e+01, ...,
          0.00000000e+00,  1.00000000e+00,  0.00000000e+00]],

       [[ 9.67100000e-01,  3.57000000e+01,  1.39800000e+02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.67600000e-01,  4.10000000e+01,  2.91000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 1.38000000e-02,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 8.75100000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 5.23300000e-01, -2.36000000e+01, -7.04000000e+01, ...,
          0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 1.53700000e-01,  4.37000000e+01, -7.94000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00]],

       [[ 9.67600000e-01,  4.10000000e+01,  2.91000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 1.38000000e-02,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 9.87900000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 5.23300000e-01, -2.36000000e+01, -7.04000000e+01, ...,
          0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
        [ 1.53700000e-01,  4.37000000e+01, -7.94000000e+01, ...,
          1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [ 7.65700000e-01,  3.10103448e+01,  5.77442529e+00, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00]]])

In [33]:
a.shape

(1709, 8, 7)

In [34]:
b

array([2., 1., 0., ..., 0., 1., 1.])

In [35]:
from sklearn.model_selection import train_test_split
a_train, a_test, b_train, b_test = train_test_split(a, b, test_size = 0.2, random_state = 1)

In [36]:
n_features = a.shape[2]

In [37]:
n_features

7

In [38]:
from numpy import array
from numpy import hstack
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

In [39]:
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(8, n_features)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse',metrics = ['accuracy'])
# fit model
#model.fit(a, b, epochs=10, verbose=0)

In [40]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 7, 64)             960
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 3, 64)             0
_________________________________________________________________
flatten (Flatten)            (None, 192)               0
_________________________________________________________________
dense (Dense)                (None, 50)                9650
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 10,661
Trainable params: 10,661
Non-trainable params: 0
_________________________________________________________________

In [41]:
model.fit(a_train, b_train, batch_size=128, epochs=10000, validation_data=(a_test, b_test), verbose=0)

In [42]:
test_loss, test_acc = model.evaluate(a_test,b_test)
print('test_acc: ',test_acc)

11/11 [==============================] - 0s 2ms/step - loss: 0.4198 - accuracy: 0.7193
test_acc:  0.719298243522644